   <div *ngIf="cart.cartItems.length > 0 ; else emptyCart" class="mx-[22%] pb-[5%]">
    <!-- Title and Remove All Button -->
    <div class="relative m-12">
      <div class="flex items-center">
        <div class="text-3xl font-medium text-center flex-1">Cart Items</div>
        <svg xmlns="http://www.w3.org/2000/svg" (click)="openClearCartPopup()" class="remove-all-icon" width="25" height="25" viewBox="0 0 448 512">
          <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
        </svg>
      </div>
    </div>

    <div *ngFor="let item of cart.cartItems" class="mb-10 ">
      <div class="bg-[#F8F8F8] flex justify-between px-8 h-24 items-center rounded-md shadow-lg">
          <div class="w-[30%] h-full flex items-center">
            <div class="w-[full]">
              <img class="h-[70px]" [src]="item.book?.imageData" alt="{{ item.title }}">
              <!-- <img class="h-[70px]" src="https://cdn.shopify.com/s/files/1/0648/3066/9017/products/9780241551820.jpg.f916736674.999xx_360x.jpg?v=1680623337" alt="{{ item.title }}"> -->
            </div>
            <div class=" ml-5 overflow-ellipsis">
              {{ item.title }}
            </div>
          </div>

          <div class="flex justify-center items-center border border-black">
            <button class="mx-2 hover:text-green-500 hover:font-medium font-extralight text-xl" (click)="incrementQuantity(item)">+</button>
            <div class="px-2">{{ item.quantity }}</div>
            <button class="mx-2 hover:text-red-600 hover:font-medium text-3xl font-extralight" (click)="decrementQuantity(item)">-</button>
        </div>

          <div class="text-[18px]">{{ item.totalPrice | currency }}</div>
          <div class="delete-cart">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" (click)="removeCartItem(item)"  viewBox="0 0 448 512"><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
          </div>
      </div>
  </div>
    <!-- Total and Checkout Button -->
    <!-- <div *ngIf="cart.cartItems.length > 0" class="">
      <div class="mt-4 flex justify-between px-5 font-bold">
        <p>Total:</p>
        <p class="text-xl">₹ {{ cart.totalPrice.toFixed(2) }}</p>
      </div>
      <div class="mt-4">
        <button class="p-3 bg-orange-400 w-full rounded-sm text-white" (>Proceed to Checkout</button>
        <!-- click)="handleProceedToCheckout()" 
      </div>
    </div> -->

    <div>
      <div class="mt-4 mx-10 flex justify-between px-5 font-medium">
        <p>Total:</p>
        <p class="text-xl"> {{ cart.totalPrice.toFixed(2) | currency }} </p>
      </div>
      <div class="mt-4 text-center">
        <button class="p-3 bg-orange-400  w-[60%] rounded-sm  text-white" (click)="handleProceedToCheckout()" >Proceed to Checkout</button>
      </div>
    </div>

  </div>

  <ng-template #emptyCart>
        <div *ngIf="cart.cartItems.length === 0" class="text-center mt-8">
          <p class="text-xl font-semibold">Your cart is empty.</p>
          <p>You can go to the home page to view more products.</p>
          <a routerLink="/categories" class="mt-5 inline-block text-xl bg-orange-400 text-white p-2 rounded-sm">Browse Items</a>
        </div>
  </ng-template>
  