<nav>
    <div class="flex justify-between items-center h-20 bg-white px-16 w-full shadow-xl">
      <div class="text-[1.2rem] font-bold uppercase hover:text-red-600 cursor-pointer">
        <a routerLink="/" class="no-underline text-inherit">The Book Garage</a>
      </div>
  
      <div>
        <ul class="nav-list flex items-center text-[18px] space-x-4">
          <!-- routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" -->
          <li><a routerLink="/" [ngClass]="{ 'active': isActive('/') }" class="no-underline text-inherit">Home</a></li>
          <li><a routerLink="/categories" [ngClass]="{ 'active': isActive('/categories') }" class="no-underline text-inherit">Categories</a></li>
  
          <!-- Cart -->
          <li><a (click)="navigateToCartPage()" [ngClass]="{ 'active': isActive('/cart') }" class="no-underline text-inherit cursor-pointer">Cart</a></li>
  
          <!-- Login/Sign Up when user is not logged in -->
          <li *ngIf="!(isLoggedIn$ | async)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a (click)="openLoginDialog()" class="no-underline text-inherit cursor-pointer">Login</a>
          </li>
          <li *ngIf="!(isLoggedIn$ | async)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a (click)="openSignUpDialog()" class="no-underline text-inherit cursor-pointer">Sign Up</a>
          </li>

  
          <!-- Admin Add Book option -->
          <li *ngIf="isAdminLoggedIn() | async" [ngClass]="{ 'active': isActive('/admin/addbook')}" (click)="goToAddBookComponent()">
            <a class="no-underline text-inherit">Add Book</a>
          </li>
  
          <!-- Logout when user is logged in -->
          <li *ngIf="isLoggedIn$ | async" routerLinkActive="active">
            <a (click)="logout()" class="no-underline text-inherit cursor-pointer">Logout</a>
          </li>
  
          <!-- Show user profile initial when logged in -->
          <li *ngIf="isLoggedIn$ | async" routerLinkActive="active">
            <div class="bg-[#77B748] text-white w-10 h-10 justify-center items-center flex rounded-full" (click)="navigateToProfile()">
              {{ loggedUserName?.charAt(0)?.toUpperCase() }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  