<div *ngIf="bookDetails; else loading" class="my-[5%]">
  <div class="flex mx-[15%] justify-center text-[#484848]"> 
    <div class="flex-0 bg-[#F7F7F7] mr-5 p-5 pr-10">
      <img class="max-h-[300px] object-contain"
      src="https://cdn.shopify.com/s/files/1/0648/3066/9017/products/9780241551820.jpg.f916736674.999xx_360x.jpg?v=1680623337" alt="{{ bookDetails.title }}" />
    </div>

    <div class="mr-5 capitalize py-5 px-8">
      <div class="text-xl font-medium text-[#484848] text-ellipsis overflow-hidden">{{ bookDetails.title.toLowerCase() }}</div>
      <div class="mt-5 text-[#D65A31] text-[16px]">{{ bookDetails.author.toUpperCase()  }}</div>
      <div class="flex mt-2">
        <app-ratings [rating]="(bookDetails.rating)? bookDetails.rating : 0"></app-ratings>
        <div class="mx-5 text-[#eabdbd]">ISBN {{ bookDetails.isbn }}</div>
      </div>
      <div class="cost mt-3 flex items-end">
        <div class="text-2xl mr-5 font-medium">₹ {{ bookDetails.price }}</div>
        <div class="text-[18px] text-[#666666] font-medium line-through">₹ {{ bookDetails.price + (bookDetails.price / 2) }}</div>
      </div>
      <div class="quantity flex w-[70%] space-x-1 mt-5">
        <div class="border-2 border-[#c8bfbf] px-4 py-3 rounded-sm hover:border-none hover:cursor-pointer hover:bg-[#77b748] hover:text-white transition-all" (click)="decrementQuantity()"> - </div>
        <div class="flex-1 border-2 border-[#c8bfbf] px-5 py-3 text-center rounded-sm hover:border-2 hover:border-[#77b748]"> {{ quantity }} </div>
        <div class=" border-2 border-[#c8bfbf] px-4 py-3 rounded-sm hover:border-none hover:cursor-pointer hover:bg-[#77b748] hover:text-white transition-all" (click)="addQuantity()"> + </div>
      </div>
      <div class="w-[60%] mt-5 p-3 bg-[#77B748] text-center text-white rounded-lg cursor-pointer hover:opacity-2" (click)="addBookToCart(bookDetails)">
        Add to cart
      </div>
    </div>

    <div class=" py-5">
      <div class="pb-2">Book Details</div>
      <hr>
      <div class="capitalize pr-10 mt-5 space-y-2">
        <div>Publisher : {{ bookDetails.publisher?.toLowerCase() }}</div>
        <div>Language : {{ bookDetails.language.toLowerCase() }}</div>
        <div>ISBN : {{ bookDetails.isbn }}</div>
        <div>Genre : {{ bookDetails.genre.toLowerCase() }}</div>
        <div>Dimensions : {{ bookDetails.dimensions }}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading book details...</p>
</ng-template>


<ng-container>
  <div *ngIf="bookDetails" class="mt-8">
    <app-best-sellers  [currentBook]="bookDetails"></app-best-sellers>
  </div>
</ng-container>

<!-- flex border-2 border-red-500 rounded-md bg-gray-500 -->