<div *ngIf="user" class="max-w-xl mx-auto my-12 p-5 bg-white shadow-md rounded-lg">
  <h2 class="text-2xl font-semibold mb-5 text-center">My Profile</h2>

  <form *ngIf="isEditing" (ngSubmit)="saveProfile()">
    <div class="mb-4">
      <label class="block text-gray-700">First Name:</label>
      <input class="w-full p-2 border border-gray-300 rounded mt-1" [(ngModel)]="user.firstName" name="firstName" required>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700">Last Name:</label>
      <input class="w-full p-2 border border-gray-300 rounded mt-1" [(ngModel)]="user.lastName" name="lastName" required>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700">Email:</label>
      <input class="w-full p-2 border border-gray-300 rounded mt-1" [(ngModel)]="user.email" name="email" disabled>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700">Address:</label>
      <input class="w-full p-2 border border-gray-300 rounded mt-1" [(ngModel)]="user.address" name="address">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700">Phone Number:</label>
      <input class="w-full p-2 border border-gray-300 rounded mt-1" [(ngModel)]="user.phoneNumber" name="phoneNumber">
    </div>

    <div class="flex justify-end">
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
    </div>
  </form>

  <div *ngIf="!isEditing">
    <div class="mb-4">
        <label class="block text-gray-700">First Name:</label>
        <span class="block p-2 border border-gray-300 rounded mt-1 min-h-[40px]">{{ user.firstName || ' ' }}</span>
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700">Last Name:</label>
        <span class="block p-2 border border-gray-300 rounded mt-1 min-h-[40px]">{{ user.lastName || ' ' }}</span>
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700">Email:</label>
        <span class="block p-2 border border-gray-300 rounded mt-1 min-h-[40px]">{{ user.email }}</span>
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700">Address:</label>
        <span class="block p-2 border border-gray-300 rounded mt-1 min-h-[40px]">{{ user.address || ' ' }}</span>
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700">Phone Number:</label>
        <span class="block p-2 border border-gray-300 rounded mt-1 min-h-[40px]">{{ user.phoneNumber || ' ' }}</span>
      </div>

    <div class="flex justify-end">
      <button (click)="editProfile()" class="bg-blue-500 text-white px-4 py-2 rounded">Edit</button>
    </div>
  </div>
</div>
