
<ng-container>
    <app-search-books 
        (searchByTitle)="searchByTitle($event)" 
        (searchByAuthor)="searchByAuthor($event)">
    </app-search-books>
</ng-container>

<ng-container>
    <div *ngIf="books.length > 0; else nobooks" class="flex flex-wrap justify-center px-[10%] py-[2%]">
        <div *ngFor="let book of paginatedBooks; let i = index" class="book-container text-xl p-4 m-2 ">
            <app-book-card [book]="book" (addToCart)="addBookToCart($event)" (navigatBook)="navigateToBookDetails($event)"></app-book-card>
        </div>
    </div>

    <div *ngIf="books.length > 0" class="pagination-wrapper flex justify-center text-center m-5 pb-16">
        <div class="pagination-controls mt-4 flex items-center">
          <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"  class=" bg-gray-200 rounded py-2 px-3 cursor-pointer disabled:bg-[#cbd5e0] disabled:cursor-none">
            &lt;
          </button>
          <span class="mx-2">{{ currentPage }} / {{ totalPages }}</span>
          <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages" class=" bg-gray-200 rounded py-2 px-3 cursor-pointer disabled:bg-[#cbd5e0] disabled:cursor-none">
            &gt;
          </button>
        </div>
      </div>

      <ng-template #nobooks>
        <div class="flex justify-center text-xl align-middle items-center min-h-[150px]">
            No books found!
        </div>
      </ng-template>

</ng-container>
